.card {
	
  width: 70%;
  padding: 30px 90px 90px 90px;
  border: 6px solid #F2F6E4;
  box-shadow: 10px 10px 0 #EBF3DA;
  border-radius: 50px;
  position: relative;
  margin-bottom: 100px;
  margin-left: 300px;
  background-color: #FFFCF7;
}

.card h2 {
  color: #73836B;
  font-size: 50px;
  text-transform: uppercase;
}

.card p{
	color: #73836B;
}

.card .row {
  position: relative;
  width: 100%;
  display: grid;
  grid: auto / auto auto;
  grid-template-columns: repeat(auto-fit,minmax(40%, 1fr));
  grid-gap: 30px;
}

.card .row .col {
  position: relative;
  width: 100%;
  margin: 30px 20px 40px 0;
  transition: 0.5s;
}

.card .row .form-group {
  position: relative;
  height: 40px;
  color: #73836B;
}

.card .row .form-group input,
.card .row .form-group textarea {
	
	margin-left: 25px;
  background: transparent;
  outline: none;
  font-size: 15px;
  padding: 10px 0 10px 20px;
  border: 1px solid #F2F6E4;
  box-shadow: 5px 5px 0 #EBF3DA;
  color: #73836B;
  border-radius: 50px;
}

.card .row .form-group label {
  line-height: 40px;
  color: #73836B;
  font-size: 24px;
  margin: 0 0 0 30px;
  display: block;
  pointer-events: none;
  font-size: 18px;
}

.row .col:nth-child(6) {
  margin-top: 64px;
}

.card .row .form-group input:focus,
.card .row .form-group textarea:focus {
  border: 5px solid #ffffff;
  transition: all 0.5s;
}

.card .row input[type="submit"] {
  border: 1px solid #F2F6E4;
  box-shadow: 1px 1px 0 #EBF3DA;
  padding: 10px;
  height: 100%;
  width: 50%;
  cursor: pointer;
  outline: none;
  background: transparent;
  text-transform: uppercase;
  color:#73836B;
  line-height: 40px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 45px;
  transition: all 0.4s;
}

.card .row input[type="submit"]:hover {
  border: 5px solid #F2F6E4;
  transition: all 0.8s;
}

@media screen and (max-width: 900px) {
  .card .row {
    grid-template-columns: repeat(auto-fit,minmax(70%, 1fr));
  }
  
  .card {
    padding: 20px;
  }
  
  
  .card .row input[type="submit"] {
    width: 100%;
  }
}



